﻿@model HomeRent.Models.RentSlip

@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
<!-- Required jQuery and jQuery UI Javascript references -->
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
<script src="~/assets/js/datepicker/daterangepicker.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/assets/js/datepicker/datepicker.js"></script>
<script type="text/javascript">
    var rent = 0,size = 0;
    $(document).ready(function () {
        $("#HouseID").change(function() {
            $("#FlatID").empty();
            $("#FlatID").append('<option value="0">Select One</option>');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFlat", "RentSlip")',
                dataType: 'json',
                data: { id: $("#HouseID").val() },
                success: function(states) {
                    $.each(states, function(i, state) {
                        $("#FlatID").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                    });
                },
                error: function(ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        });

        $("#FlatID").change(function() {
            $("#Rent").empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetTotalRent", "RentSlip")',
                dataType: 'text',
                data: { id: $("#FlatID").val() },
                success: function(states) {
                    $("#Rent").val(states);
                    rent = parseInt(states);
                    $('[name="Tax"]').val(((rent / 100) * 5) / 12);
                },

                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        });
    });
</script>
@*<script type="text/javascript">
    $(function () {
        $('#date-picker').datepicker();
    })
</script>*@
<form method="POST" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="row" id="demo">
    <div class="panel panel-primary">
        <div>
            <div class="panel-title">

                <center><br><strong>Make Slip</strong></center>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="col-md-3 control-label">Date</label>
            <div class="col-md-4">
                @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Rent Slip No</label>
            <div class="col-md-4">
                @Html.TextBoxFor(x => x.RentSlipNo, new { @class = "form-control" })
            </div>
        </div>
       
           
            <div class="form-group">
                <label class="col-md-3 control-label">Renter Name</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.RenterName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Renter NID</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.RenterNID, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Renter Profession</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.RenterProfession, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">House</label>
                <div class="col-md-4">
                    @Html.DropDownList("HouseID", null, "Select One", new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-3 control-label">Flat</label>
                <div class="col-md-4">
                    @Html.DropDownList("FlatID", null, "Select One", new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Rent</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.Rent, new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Tax</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.Tax, new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Owner Name</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.OwnerName, new { @class = "form-control" })
                    <div>@ViewBag.Message</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Owner NID</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.OwnerNID, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-3 control-label">Bank</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.Bank, new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Account No</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" id="btnSave" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
   
</form>
<script>
           $(document).ready(function() {
               $("#date-picker").datepicker({

               });
           });
       </script>

<div>
    <center>@Html.ActionLink("Back to List", "Index")</center>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/Content/datepicker")
@Scripts.Render("~/bundles/datePicker")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
  
}
