﻿@model HomeRent.Models.RentSlip

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RentSlip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentSlipNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentSlipNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerNID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerNID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RenterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RenterNID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenterNID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RenterProfession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenterProfession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flat.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flat.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
