﻿@model HomeRent.Models.RentSlip

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<script language="javascript" type="text/javascript">
    function printDiv(divID) {
        //Get the HTML of div
        var divElements = document.getElementById(divID).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<body>" +
          divElements + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;

    }
</script>

<body>
    <div id="printablediv">

        <h4 align="center" style="color:blue ">RentSlip</h4>
        <hr />
        <div class="form-group" align="center"><strong style="color: royalblue">Basic Info :</strong></div>

        <div class="form-group" align="center" style="color: black"><strong> Date: @Html.DisplayFor(model => model.Date)</strong></div>

        <div class="form-group" align="center" style="color: black"><strong>RentSlipNo: @Html.DisplayFor(model => model.RentSlipNo)</strong></div>

        <div class="form-group" align="center" style="color: black"><strong style="color: royalblue">Owner Info :</strong></div>

        <div class="form-group" align="center" style="color: black"><strong>OwnerName: @Html.DisplayFor(model => model.OwnerName)</strong></div>
        <div class="form-group" align="center" style="color: black"><strong>OwnerNID: @Html.DisplayFor(model => model.OwnerNID)</strong></div>
        <div class="form-group" align="center" style="color: black"> <strong>AccountNumber: @Html.DisplayFor(model => model.AccountNumber) </strong></div>

        <div class="form-group" align="center" style="color: black"><strong style="color: royalblue">Renter Info :</strong></div>
        <div class="form-group" align="center" style="color: black"> <strong>RenterName: @Html.DisplayFor(model => model.RenterName)</strong></div>

        <div class="form-group" align="center" style="color: black"><strong>RenterNID: @Html.DisplayFor(model => model.RenterNID)</strong></div>

        <div class="form-group" align="center" style="color: black"><strong>RenterProfession: @Html.DisplayFor(model => model.RenterProfession)</strong></div>

        <div class="form-group" align="center" style="color: black"><strong style="color: royalblue">Rent Info :</strong></div>
    

        <div class="form-group" align="center" style="color: black"><strong>House: @Html.DisplayFor(model => model.House.Name)</strong></div>
        <div class="form-group" align="center" style="color: black"> <strong>Flat: @Html.DisplayFor(model => model.Flat.Name)</strong></div>
    
        <div class="form-group" align="center" style="color: black"><strong>Bank: @Html.DisplayFor(model => model.Bank)</strong></div>

        <div class="form-group" align="center" style="color: black"><strong>Rent: @Html.DisplayFor(model => model.Rent) </strong> </div>

        <div class="form-group" align="center" style="color: black"><strong>Tax: @Html.DisplayFor(model => model.Tax) </strong></div>

       
        <div id="notprintablediv">
        </div>
    </div>
    <center><button id="print" class=" btn btn-primary" type="submit" onclick="javascript: printDiv('printablediv');">Print</button></center>
</body>



