﻿@model HomeRent.Models.RentSlip

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RentSlip</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RentSlipNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RentSlipNo)
                @Html.ValidationMessageFor(model => model.RentSlipNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnerName)
                @Html.ValidationMessageFor(model => model.OwnerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bank, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bank)
                @Html.ValidationMessageFor(model => model.Bank)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountNumber)
                @Html.ValidationMessageFor(model => model.AccountNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerNID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnerNID)
                @Html.ValidationMessageFor(model => model.OwnerNID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RenterName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RenterName)
                @Html.ValidationMessageFor(model => model.RenterName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RenterNID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RenterNID)
                @Html.ValidationMessageFor(model => model.RenterNID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RenterProfession, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RenterProfession)
                @Html.ValidationMessageFor(model => model.RenterProfession)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rent)
                @Html.ValidationMessageFor(model => model.Rent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tax)
                @Html.ValidationMessageFor(model => model.Tax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HouseID, "HouseID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HouseID", String.Empty)
                @Html.ValidationMessageFor(model => model.HouseID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlatID, "FlatID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FlatID", String.Empty)
                @Html.ValidationMessageFor(model => model.FlatID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
