﻿
@model IEnumerable<HomeRent.Models.RentSlip>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<center><div class="col-md-12" style="color: royalblue"><h2> Rent Slip</h2></div></center>
<p>
    <center> @Html.ActionLink("Create New rent Slip", "Create")</center>
</p>

<div>
    
    <table class="table-bordered mid_center" >
      

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <div class="form-group" style="color: black"><strong> Date: @Html.DisplayFor(modelItem => item.Date)</strong></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group" style="color: black"><strong>SlipNo: @Html.DisplayFor(modelItem => item.RentSlipNo)</strong></div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="form-group" style="color: black"> <strong> OwnerName: @Html.DisplayFor(modelItem => item.OwnerName)</strong></div>
                </td>
            </tr>

            <tr>
                <td>

                    <div class="form-group" style="color: black"><strong> Bank: @Html.DisplayFor(modelItem => item.Bank)</strong></div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="form-group" style="color: black"><strong>OwnerNID: @Html.DisplayFor(modelItem => item.OwnerNID)</strong></div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="form-group" style="color: black"><strong>RenterName: @Html.DisplayFor(modelItem => item.RenterName)</strong></div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="form-group" style="color: black"><strong> AccountNumber: @Html.DisplayFor(modelItem => item.AccountNumber)</strong></div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="form-group" style="color: black"><strong>RenterNID: @Html.DisplayFor(modelItem => item.RenterNID)</strong></div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="form-group" style="color: black"><strong>RenterProfession: @Html.DisplayFor(modelItem => item.RenterProfession)</strong></div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="form-group" style="color: black"><strong>  Rent: @Html.DisplayFor(modelItem => item.Rent)</strong></div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="form-group" style="color: black"><strong>Tax: @Html.DisplayFor(modelItem => item.Tax)</strong></div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="form-group" style="color: black"> <strong> Flat: @Html.DisplayFor(modelItem => item.Flat.Name)</strong></div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="form-group" style="color: black"> <strong> House: @Html.DisplayFor(modelItem => item.House.Name)</strong></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div  >
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Print", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                       
                    </div>

                </td>
            </tr>

        }
        
    </table>
    

</div>


      