﻿@using HomeRent.Controllers
@using HomeRent.Models
@model HomeRent.Models.HouseRent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    
}
<h2>Create</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var rent = 0,size = 0;
    $(document).ready(function () {        
        $("#Area").change(function() {
            $("#CategoryID").empty();
            $("#CategoryID").append('<option value="0">Select One</option>');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCategory", "HouseRent")',
                dataType: 'json',
                data: { id: $("#Area").val() },
                success: function(states) {
                    $.each(states, function(i, state) {
                        $("#Category").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                    });
                },
                error: function(ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        });

        $("#CategoryID").change(function() {
            $("#Rent_PSFT").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRent", "HouseRent")',
                dataType: 'text',
                data: { arid: $("#AreaID").val(), catid: $("#CategoryID").val() },
                success: function(states) {
                    $("#Rent_PSFT").val(states);
                    rent = parseInt(states);
                    //$('[name="TotalRent"]').val(size * rent);
                },
                error: function(ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        });

        $("#HouseID").change(function () {
            $("#FlatID").empty();
            $("#FlatID").append('<option value="0">Select One</option>');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFlat", "RentSlip")',
                dataType: 'json',
                data: { id: $("#HouseID").val() },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#FlatID").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        });
        $("#FlatID").change(function() {
            $("#FlatSize").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFlatSize", "Flat")',
                dataType: 'text',
                data: { id: $("#FlatID").val() },
                success: function(states) {
                    $("#FlatSize").val(states);
                    size = parseInt(states);
                    $('[name="TotalRent"]').val(size * rent);
                },

                error: function(ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        });
        
    });
</script>
<form method="POST" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="row" id="demo">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">

                    <center><strong> House Rent </strong><br><small>Register below</small></center>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Area</label>
                    <div class="col-md-6">
                        @Html.DropDownList("AreaID", null, "Select One", new { @class = "form-control" })

                    </div>
                </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Category</label>
                        <div class="col-md-6">
                            @Html.DropDownList("CategoryID", null, "Select One", new { @class = "form-control" })

                        </div>
                    </div>
                  
                <div class="form-group">
                    <label class="col-md-3 control-label">Rent</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Rent_PSFT, new { @class = "form-control",@readonly = "readonly" })
                          

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">House</label>
                    <div class="col-md-6">
                        @Html.DropDownList("HouseID", null, "Select One", new { @class = "form-control" })
                    </div>
                </div>
                              
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Flat</label>
                                    <div class="col-md-6">
                                        @Html.DropDownList("FlatID", null, "Select One", new { @class = "form-control" })

                                    </div>
                                    </div>
                                   
                    <div class="form-group">
                        <label class="col-md-3 control-label">Flat Size</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(fl => fl.FlatSize, new { @class = "form-control", @readonly = "readonly" })
                            
                        </div>
                    </div>

                                      
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">TotalRent</label>
                                            <div class="col-md-6">
                                               @Html.TextBoxFor(t => t.TotalRent, new { @class = "form-control", @readonly = "readonly" })
                                            
                                            </div>
                                            </div>
                                         
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"></label>
                                                <div class="col-md-6">
                                                   <center> <button type="submit" id="btnSave" class="btn btn-primary">Save</button></center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                       
</form>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
