﻿@model HomeRent.Models.HouseRent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HouseRent</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MinRent_PSFT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinRent_PSFT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxRent_PSFT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxRent_PSFT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flat.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flat.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
