﻿@model HomeRent.Models.HouseRent

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>HouseRent</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.MinRent_PSFT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinRent_PSFT)
                @Html.ValidationMessageFor(model => model.MinRent_PSFT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxRent_PSFT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxRent_PSFT)
                @Html.ValidationMessageFor(model => model.MaxRent_PSFT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlatID, "FlatID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FlatID", String.Empty)
                @Html.ValidationMessageFor(model => model.FlatID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaID, "AreaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AreaID", String.Empty)
                @Html.ValidationMessageFor(model => model.AreaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "CategoryID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
