﻿@using System.Security.Policy
@model IEnumerable<HomeRent.Models.HouseRent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<center><div class="col-md-12" style="color: royalblue"><h2>House Rent Details</h2></div></center>

<p style="color: royalblue">
    <center> @Html.ActionLink("Create New House Rent", "Create")</center>
</p>
<table class="table" border="1">
    <tr>
        
        
        <th>
            @Html.DisplayName("Area")
        </th>
        <th>
           @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("House Name")
        </th>
        <th>
            @Html.DisplayName("Flat Name")
        </th>
        <th>
            @Html.DisplayName("Flat Size")
        </th>
        <th>
            @Html.DisplayName("Rent_PSFT")
        </th>
        <th>
            @Html.DisplayName("Total Rent")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.Area.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flat.House.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flat.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flat.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rent_PSFT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalRent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
