﻿
@using System.Activities.Expressions
@model HomeRent.Models.User

@{
    ViewBag.Title = "User Register";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
<style>
    .form-control {
        border-radius: 5px;
    }
</style>
<form method="POST" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="row">
   <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    @if (ViewBag.Message != null)
                    {
                        <div class="form-group">
                            <div class="col-md-10">@ViewBag.Message</div>

                        </div>
                    }
                    <center><strong>Registration Form</strong><br><small>Register below</small></center>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Enter Name" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">NID</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.NID, new { @class = "form-control", @placeholder = "Enter NID" })
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Phone No</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Enter Phone No" })
                        @*<input type="text" name="txtPhone" placeholder="Enter Phone No" required class="form-control" />*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Profession</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.Profession, new { @class = "form-control", @placeholder = "Enter Profession" })
                        @*<input type="text" name="txtProfession" placeholder="Enter profession name" required class="form-control" width="100" />*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter Email" })
                        @*<input type="email" name="txtEmail" placeholder="Enter Email" required class="form-control" width="100" />*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        @Html.PasswordFor(x => x.Password, new { @id="pass", @class = "form-control", @placeholder = "Enter Password" })
                        @* <input type="password" id="pass" name="txtPassword" placeholder="Enter password" required class="form-control" width="100" />*@
                    </div>
                </div>
               
                <div class="form-group">
                    <label class="col-md-3 control-label">User Type</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.Role, new[]{ new SelectListItem(){ Text = "House Owner",Value = "House Owner"}
                       }, "Chose Option", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <button type="submit" id="btnSave" class="btn btn-primary" onclick="checkPassword(); return false;">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>