﻿<div class="nav_menu">
    <nav class="" role="navigation">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">

            <li>@Html.ActionLink("Register", "Register", "User")</li>
            <li>@Html.ActionLink("Login", "Login", "User")</li>
        </ul>
    </nav>
</div>

            