﻿<ul class="nav navbar- nav navbar-right" >
    
    @if (Session["ID"] == null || Session["ID"].ToString() == "")
    {
       <li>@Html.ActionLink("Register","Register","User")</li> 
        <li>@Html.ActionLink("Login","Login","User")</li>
    }
    @*else
    {
  <li>@Html.ActionLink("Logout","Logout","User")</li>
    }*@
      
</ul>