﻿@using HomeRent.Controllers
@model HomeRent.Models.House

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<style>
    .form-control {
        border-radius: 10px;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
<script src="~/assets/js/datepicker/daterangepicker.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/assets/js/datepicker/datepicker.js"></script>
<script>
    $(document).ready(function () {
        $(".date-picker").datepicker({

        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#City").change(function () {
            $("#AreaID").empty();
            $("#AreaID").append('<option value="0">Select One</option>');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetArea", "House")',
                dataType: 'json',
                data: { cityId: $("#City").val() },
                success: function (states) {
                    // alert(states);
                    $.each(states, function (i, state) {
                        $("#Area").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        });


        $("#Area").change(function () {
            $("#RoadID").empty();
            $("#RoadID").append('<option value="0">Select One</option>');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRoad", "House")',
                dataType: 'json',
                data: { areaId: $("#Area").val() },

                success: function (tags) {
                    $.each(tags, function (i, tag) {

                        $("#RoadID").append('<option value="' + tag.Value + '">' +
                            tag.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        });
    })   
</script>

<form method="POST" class="form-horizontal">
    @Html.AntiForgeryToken()
   
    <div id="demo" @{
                                   if (true)
                                   {
                                       Html.Raw("class=\"row show\"");
                                   }
                                   else
                                   {
                                       Html.Raw("class=\"row hidden\"");
                                   }
                                   } >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">

                        <center><strong> House registration Form</strong><br><small>Register below</small></center>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label">House Name</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => x.Name, new {@class = "form-control", @placeholder = "Enter Name"})

                        </div>
                        <br><br>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Owner Name</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OwnerName, new {@class = "form-control", @placeholder = "Enter owner Name"})

                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">NID</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.NID, new {@class = "form-control", @placeholder = "Enter NID"})

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Phone No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.PhoneNumber, new {@class = "form-control", @placeholder = "Enter Phone No"})

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Date Created</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.DateCreated, new {@class = "form-control", @placeholder = "Enter Date"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">House No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.HouseNo, new {@class = "form-control", @placeholder = "Enter House No"})

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">City</label>
                            <div class="col-md-6">
                                @Html.DropDownList("City", null, "Select One", new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Area</label>
                            <div class="col-md-6">
                                @Html.DropDownList("Area", null, "Select One", new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Road</label>
                            <div class="col-md-6">
                                @Html.DropDownList("RoadID", null, "Select One", new {@class = "form-control"})
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-6">
                                <button type="submit" id="btnSave" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
   
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">

                        <center><strong>Houses By This owner</strong><br></center>
                    </div>
                </div>
                <div class="panel-body">
                    @{
                        HouseController house = new HouseController();
                        var myhouses = house.MyHouses(Convert.ToInt32(Session["ID"])).ToList();
                    }
                    <table class="table table-bordered table-responsive">

                        <td><center><b>House Name</b></center></td>
                        <td><center><b>Added Date</b></center></td>


                        @foreach (var h in myhouses)
                        {

                            <tr>

                                <td><center>@h.Name</center></td>
                                <td><center>@h.DateCreated</center></td>
                                <td><center>@Html.ActionLink("FLAT DETAILS", "Index","Flat")</center></td>
                                <td><center>@Html.ActionLink("ADD FLAT", "Create", "Flat")</center></td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    

</form>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}