﻿@using HomeRent.Controllers
@model HomeRent.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_GenarelLayout .cshtml";
}

<style>
    .form-control {
        border-radius: 10px;
    }
</style>

<form method="POST" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">

                    <center><strong> Category create Form</strong><br><small>create category below</small></center>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group">

                    <div class="form-group">
                        <div class="col-md-2 control-label">Name</div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Enter Name" })

                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(x => x.Lift, new { @class = "checkbox" })<span>Lift</span>

                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(x => x.Gim, new { @class = "checkbox" })Gim

                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(x => x.FullTiles, new { @class = "checkbox" })Tiles

                        </div>


                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-3">
                            <button type="submit" id="btnSave" class="btn btn-success">Save</button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(x => x.Swimmingpool, new { @class = "checkbox" })Swimming Pool

                        </div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(x => x.Security, new { @class = "checkbox" })Security

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
