﻿@model HomeRent.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lift, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lift)
                @Html.ValidationMessageFor(model => model.Lift)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Security, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Security)
                @Html.ValidationMessageFor(model => model.Security)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Swimmingpool, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Swimmingpool)
                @Html.ValidationMessageFor(model => model.Swimmingpool)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gim, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gim)
                @Html.ValidationMessageFor(model => model.Gim)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullTiles, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullTiles)
                @Html.ValidationMessageFor(model => model.FullTiles)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
