﻿@model IEnumerable<HomeRent.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GenarelLayout .cshtml";
}

<center><div class="col-md-12" style="color: royalblue"><h2>Category Details</h2></div></center>

<p>
    <center><strong style="color: royalblue">@Html.ActionLink("Create New Category", "Create")</strong></center>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Security)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Swimmingpool)
        </th>
        <th>
            @Html.DisplayName("Gym")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullTiles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Security)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Swimmingpool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullTiles)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
