﻿@using HomeRent.Controllers
@model HomeRent.Models.Flat

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<style>
    .form-control {
        border-radius: 10px;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<form method="POST" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">

                    <center><strong> Flat registration Form</strong><br><small>Register your flats here</small></center>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">

                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Enter Flat Name" })
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Size</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.Size, new { @class = "form-control", @placeholder = "Enter Flat Size" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">House</label>
                        <div class="col-md-9">
                            @Html.DropDownList("HouseID", null, "Select One", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Category</label>
                        <div class="col-md-9">
                            @Html.DropDownList("CategoryID", null, "Select One", new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <button type="submit" id="btnSave" class="btn btn-primary">Save Flat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




