﻿@using HomeRent.Models
@model IEnumerable<HomeRent.Models.Flat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<center><div class="col-md-12" style="color: royalblue"><h2>Flat Details</h2></div></center>

<p>

    <center><strong style="color: royalblue">@Html.ActionLink("Create New Flat", "Create")</strong></center>
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Flat Name")
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            @Html.DisplayName("Size(in sqft)")
            @*@Html.DisplayNameFor(model => model.Size)*@
        </th>
        <th>
            @Html.DisplayName("House Name")
            @*@Html.DisplayNameFor(model => model.House.Name)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.House.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("For Flat Rent","Create","HouseRent")
        </td>
    </tr>
}

</table>
