﻿@model HomeRent.Models.Admin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout .cshtml";
}

<h2>Login</h2>
<style>
    .form-control {
        border-radius: 5px;
    }
</style>

<form method="POST" class="form-horizontal">
    <div class="alert-danger">@Session["error"]</div>
    <div class="row center">
        <div class="panel panel-primary">
            <div class=" panel-heading">
                <div class=" panel-title">
                    <center><h3>Login</h3></center>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-3 control-label right">Name</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Enter Name" })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Password</label>
                    <div class="col-md-4">
                        @Html.PasswordFor(x => x.Passwor, new { @class = "form-control", @placeholder = "Enter Password" })

                    </div>

                </div>

                <center><button type="submit" class="btn btn-primary">Login</button></center>
            </div>
        </div>
    </div>


</form>
